<% script('/newbike/script.js') -%> 
<% layout(layoutPath + 'layout') -%>
<% console.log("aus der view", anz[0].anz); %>
<% if(anz[0].anz >= 4) { %>
    <h4>Sie können leider nur 4 Fahrräder inserieren.</h4>
    <form action="/profile" method="get">
        <button type="submit" class="btn btn-default">Zurück zum Profil</button>
    </form>
<% }  else { %>

    <head>
        <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.min.css">
 </head>

    <form id="bikeupperform" method="post" action="/bike/new">

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">FAHHRAD INFORMATIONEN</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>
			<div class="row">
            <span class="col-md-1 margin padding height text">&nbsp;&nbsp;&nbsp;Name</span>
            <input name="Name" type="text" class="col-md-5 form-control height w-25">
        	</div>
            <div class="row no-gutters">
            
                <div class="col-12 col-sm-8">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="margin height">
                                <select name="Biketype" class="form-control height">
                            		<option value="Mountainbike">Mountainbike</option>
                            		<option value="Elektrofahrrad">Elektrofahrrad</option>
                            		<option value="Damenrad">Damenrad</option>
                            		<option value="Herrenrad">Herrenrad</option>
                        		</select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="margin height">
                                <select name="Size" class="form-control height">
                            		<option value="12">12</option>
                            		<option value="14">14</option>
                            		<option value="16">16</option>
                            		<option value="18">18</option>
                           		 	<option value="20">20</option>
                            		<option value="24">24</option>
                            		<option value="28">28</option>
                        		</select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="margin middle">
                                <textarea class="form-control" style="resize: none;" namename="Description" placeholder="Beschreibung zum Bike" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="col-12 col-sm-12">
                    <div class="margin padding">
                        &emsp;
                        <input type="checkbox" name="Porter" class="form-check-input position-static">
                        <span class="text">Gepaecktraeger</span><br />
                        &emsp;
                        <input type="checkbox" name="Childseat" class="form-check-input position-static">
                        <span class="text">Kindersitz</span>
                    </div>
                </div>
                            
                <div id="my-calendar"></div>

                            
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-sm-8">
                    <div class="d-flex flex-row">
                        <span class="margin padding height text">Rabatt nach 3 Tagen</span>
                        <input name="Threeday" type="text" class="form-control height w-25" width="20">
                        <span class="margin padding height text">%</span>
                    </div>
                    <div class="d-flex flex-row">
                        <span class="margin padding height text">Rabatt nach 7 Tagen</span>
                        <input name="Sevenday" type="text" class="form-control height w-25" width="20">
                        <span class="margin padding height text">%</span>
                    </div>
                </div>
                
            </div>

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">FAHRRAD STANDORT</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Stadt*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="City" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>PLZ*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="Zip" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Straße*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="Street" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Hausnummer*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="Housenumber" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>
            
            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Land*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="Country" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">BILDER</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>
    </form>

    <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">

        <input type="hidden" id="imagecounter" name="imagecounter" value="0"/>
        <div id="images">
        </div>
         <div class="col-12 col-md-12 col-lg-2"></div>
                
        <div id="fileinputs">
           
                <label class="btn btn-secondary">
                Hinzufügen<input type="file" class="fileinput margin" id="addimagebutton0" target="images" name="userPhoto"  hidden>
                </label>

        </div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </form>
          
    <form id="bikedownerform" method="post" action="/bike/new">
        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">PREIS</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>


            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-5 col-md-2 col-lg-1">
                    <div class="margin height">
                        <input name="Price" type="number" step="0.01" class="form-control height">
                    </div>
                </div>
                <div class="margin height col-1 col-md-1 col-lg-1">
                    &euro;
                </div>
                
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>
    </form>

    <div class="col-6 col-md-3 col-lg-2">
        <div class="">
            <button id="upload" type="submit" class="btn btn-secondary btn-block height">Inserieren</button>
        </div>
    </div>
<% } %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

<script src="/js/zabuto_calendar.min.js"></script>

        <script type="application/javascript">
var eventData = [];
//eventData.push({"date":"","badge":false,"title":"RESERVIERT", "fixed":true}) 



function myDateFunction(id) {
    console.log(eventData);
 if(!id.includes("calendar")){alert("err");return;}
 console.log(id.split("_")[3]); //#3 is date
var dtstring = id.split("_")[3];//extrect the datestring

//HACKY WORKAROUND
 $("#calhold").empty()
 $("#calhold").append("<div id='my-calendar'></div>");
 create_calendar();
}


function create_calendar(){
    //GET CURRENT DATE
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

  $("#my-calendar").zabuto_calendar({
  year: yyyy,
  month: mm,
  day: dd,
  show_previous: true,
  cell_border: true,
  today: true,
  show_days: false,
  weekstartson: 0,
  nav_icon: {
    prev: 'zur&uuml;ck',
    next: 'weiter'
  },
  action: function() { myDateFunction(this.id); },
data: eventData
});
}

        $( document ).ready(function() {
            create_calendar();
        });
        
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCkMWSqlk6gTahbTNfaPaTqBsiGWtT_PRg"></script>