<% script('/newbike/script.js') -%> 
<% layout(layoutPath + 'layout') -%>
<% console.log("aus der view", anz[0].anz); %>
<% if(anz[0].anz >= 4) { %>
    <h4>Sie können leider nur 4 Fahrräder inserieren.</h4>
    <form action="/profile" method="get">
        <button type="submit" class="btn btn-default">Zurück zum Profil</button>
    </form>
<% }  else { %>
    <% console.log("aus der view: ", error); %>
    <div class="row">
    
    </div>

    <head>
        <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.min.css">
 </head>

    <form id="bikeupperform" method="post" action="/bike/new">

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">FAHHRAD INFORMATIONEN</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>
			<div class="row">
            <span class="col-md-1 margin padding height text">&nbsp;&nbsp;&nbsp;Name</span>
            <input name="Name" type="text" class="col-md-5 form-control height w-25">
        	</div>
            <div class="row no-gutters">
            
                <div class="col-12 col-sm-8">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="margin height">
                                <select name="Biketype" class="form-control height">
                            		<option value="Mountainbike">Mountainbike</option>
                            		<option value="Elektrofahrrad">Elektrofahrrad</option>
                            		<option value="Damenrad">Damenrad</option>
                            		<option value="Herrenrad">Herrenrad</option>
                        		</select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="margin height">
                                <select name="Size" class="form-control height">
                            		<option value="12">12 Zoll</option>
                            		<option value="14">14 Zoll</option>
                            		<option value="16">16 Zoll</option>
                            		<option value="18">18 Zoll</option>
                           		 	<option value="20">20 Zoll</option>
                            		<option value="24">24 Zoll</option>
                            		<option value="28">28 Zoll</option>
                        		</select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="margin middle">
                                <textarea class="form-control" style="resize: none;" name="Description" placeholder="Beschreibung zum Bike" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="col-12 col-sm-12">
                    <div class="margin padding">
                        &emsp;
                        <input type="checkbox" name="Porter" class="form-check-input position-static">
                        <span class="text">Gepaecktraeger</span><br />
                        &emsp;
                        <input type="checkbox" name="Childseat" class="form-check-input position-static">
                        <span class="text">Kindersitz</span>
                    </div>
                </div>
                            
                <div id="calhold">
                    <div id="my-calendar"></div>
                    </div>
                    <div id="data_reset"><input type="button" onclick="reset_date()" value="RESET RANGE"/></div>
                    <div id="date_range"></div>

                            
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-sm-8">
                    <div class="d-flex flex-row">
                        <span class="margin padding height text">Rabatt nach 3 Tagen</span>
                        <input name="Threeday" type="text" class="form-control height w-25" width="20">
                        <span class="margin padding height text">%</span>
                    </div>
                    <div class="d-flex flex-row">
                        <span class="margin padding height text">Rabatt nach 7 Tagen</span>
                        <input name="Sevenday" type="text" class="form-control height w-25" width="20">
                        <span class="margin padding height text">%</span>
                    </div>
                </div>
                
            </div>

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">FAHRRAD STANDORT</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Stadt*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="City" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>PLZ*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="ZIP" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Straße*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="Street" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Hausnummer*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="Housenumber" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>
            
            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Land*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="Country" list="countries" element="autofill" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">BILDER</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>
    </form>

    <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">

        <input type="hidden" id="imagecounter" name="imagecounter" value="0"/>
        <div id="images">
        </div>
         <div class="col-12 col-md-12 col-lg-2"></div>
                
        <div id="fileinputs">
           
                <label class="btn btn-secondary">
                Hinzufügen<input type="file" class="fileinput margin" id="addimagebutton0" target="images" name="userPhoto"  hidden>
                </label>

        </div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </form>
          
    <form id="bikedownerform" method="post" action="/bike/new">
        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">PREIS</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>


            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-5 col-md-2 col-lg-1">
                    <div class="margin height">
                        <input name="Price" type="number" step="0.01" class="form-control height">
                    </div>
                </div>
                <div class="margin height col-1 col-md-1 col-lg-1">
                    &euro;
                </div>
                
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>
            <div id="form_date"></div>
    </form>

    <div class="col-6 col-md-3 col-lg-2">
        <div class="">
            <button id="upload" type="submit" class="btn btn-secondary btn-block height">Inserieren</button>
        </div>
    </div>
<% } %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

<script src="/js/zabuto_calendar.min.js"></script>

        <script type="application/javascript">



var calendar_date = 0;
var start_date = null;
var end_date = null;
var eventData = [];




function reset_date(){
    calendar_date = 0;
    start_date = null;
    end_date = null;
    eventData = [];

    while(eventData.length > 0) {
        eventData.pop();
    }

    document.getElementById('date_range').innerHTML = "<b>Bitte wähle das Startdatum aus.<b>";
    document.getElementById('form_date').innerHTML = "<input type='hidden' name='start_date' value='"+start_date+"'/><input type='hidden' name='end_date' value='"+end_date+"'/>";
     $("#calhold").empty()
    $("#calhold").append("<div id='my-calendar'></div>");
    create_calendar();
}


function getFormattedDate(date) {
  var year = date.getFullYear();
  var month = (1 + date.getMonth()).toString();
  month = month.length > 1 ? month : '0' + month;
  var day = date.getDate().toString();
  day = day.length > 1 ? day : '0' + day;
  return year + '-' + month + '-' + day;
}

function get_date_string(_date){


}


function myDateFunction(id) {
    console.log(eventData);
 if(!id.includes("calendar")){alert("err");return;}
 console.log(id.split("_")[3]); //#3 is date
var dtstring = id.split("_")[3];//extrect the datestring

//HACKY WORKAROUND
 $("#calhold").empty()
 $("#calhold").append("<div id='my-calendar'></div>");
 create_calendar();
}

var booked_days = 0;
var eventData = [];
  //CREAT A DATASET FROM WITH PUSH COMMANDS WITH THE FIXED DAYS



function myDateFunction(id) {
  console.log(eventData);
if(!id.includes("calendar")){alert("err");return;}

var dtstring = id.split("_")[3];//extrect the datestring

var is_fixed = false;
var remove_id = -1;
var is_in  = false;
for(var i = 0; i < eventData.length; i++){
   if(eventData[i].fixed == undefined || eventData[i].date == undefined){
       alert("Es ist ein allgemeiner Fehler aufgetreten. Bitte lade die Seite erneut.");
       break;
   }
   //CHECK IF THE DATE IS A FROM OTHER RESERVED 
  if(eventData[i].date == dtstring && eventData[i].fixed == true){
      is_fixed = true;
      break;
  }
  //CHECK If is a DAY TO ReMOVE
  if(eventData[i].date == dtstring  && eventData[i].fixed == false){
      remove_id = i;
      break;
  }
  if(eventData[i].date == dtstring  && eventData[i].fixed == false){
      is_in = true;
      break;
  }


  
}


//ADD NEW ENTRY
if(!is_in){

  var seldate = new Date(dtstring);
  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() - 1);
  if( tomorrow >seldate){
      alert("Das gewählte Datum liegt in der Vergangenheit. Bitte waehle ein anderes.");return;
      return;
  }







if(calendar_date == 0){
    console.log("ADD DATE TO START DATE");
    start_date = seldate;
    calendar_date++;
     document.getElementById('date_range').innerHTML = "Bitte wähle das Enddatum aus.";
}else if(calendar_date == 1){
    console.log("ADD DATE TO END DATE");
    end_date = seldate;
    //TODO CHEKC IF AFTER
    if(end_date <  start_date){
        alert("<b>Bitte wähle das End-Datum nach deinem Startdatum</b>");
        return;
    }else{
    end_date = seldate;
    calendar_date++;

    var formattedDate_start = moment(start_date).format('DD.MM.YYYY');
    var formattedDate_end = moment(end_date).format('DD.MM.YYYY');

    document.getElementById('date_range').innerHTML = "BUCHBARER DATUMSBEREICH :<br><b>" + formattedDate_start + "</b><br>bis zum <br>" + formattedDate_end + "";
    document.getElementById('form_date').innerHTML = "<input type='hidden' name='start_date' value='"+start_date+"'/><input type='hidden' name='end_date' value='"+end_date+"'/>";
    }
    
}else{
return;
}
eventData.push({"date":dtstring,"badge":true,"title":"GEBUCHT", "fixed":false})

create_calendar();


}
//HACKY WORKAROUND
$("#calhold").empty()
$("#calhold").append("<div id='my-calendar'></div>");
create_calendar();
}


function create_calendar(){
  //GET CURRENT DATE
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

$("#my-calendar").zabuto_calendar({
year: yyyy,
month: mm,
day: dd,
show_previous: true,
cell_border: true,
today: true,
show_days: false,
weekstartson: 0,
nav_icon: {
  prev: 'zur&uuml;ck',
  next: 'weiter'
},
action: function() { myDateFunction(this.id); },
data: eventData
});


}


        $( document ).ready(function() {
            reset_date();
            document.getElementById('form_date').innerHTML = "<input type='hidden' name='start_date' value='"+""+"'/><input type='hidden' name='end_date' value='"+""+"'/>";
        });
        
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCkMWSqlk6gTahbTNfaPaTqBsiGWtT_PRg"></script>