    <% layout(layoutPath + 'layout') -%>


    <form>

            <div class="row no-gutters">

                <div class="col-12">
                    <div class="überschrift margin p-1 middle">
                        <span>Fahrrad Informationen</span>
                    </div>
                </div>

            </div>

            <div class="row no-gutters">
                <div class="col-12 col-sm-8">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="margin height">
                                <select class="form-control height">
                                    <option>Bike-Typ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="margin height">
                                <select class="form-control height">
                                    <option>Größe</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="margin middle">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="white margin padding">
                        <div class="hoch">
                            <div id="googleMap1" style="width:100%;height:200px;"></div>
                            <br>
                            <script>
                                function myMap() {
                                    var mapOptions1 = {
                                        center: new google.maps.LatLng(51.508742, -0.120850),
                                        zoom: 9,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                    };
                                    var map1 = new google.maps.Map(document.getElementById("googleMap1"), mapOptions1);
                                }
                            </script>

                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-ew1LG5TK1A8so6_Thu4vdcnXrGl_uTw&callback=myMap"></script>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-sm-8">
                    <div class="d-flex flex-row">
                        <span class="margin padding height text">Rabatt nach 3 Tagen</span>
                        <input type="text" class="form-control height w-25" width="20">
                        <span class="margin padding height text">%</span>
                    </div>
                    <div class="d-flex flex-row">
                        <span class="margin padding height text">Rabatt nach 7 Tagen</span>
                        <input type="text" class="form-control height w-25" width="20">
                        <span class="margin padding height text">%</span>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="margin padding">
                        &emsp;
                        <input type="checkbox" class="form-check-input position-static">
                        <span class="text">Gepäckträger</span><br />
                        &emsp;
                        <input type="checkbox" class="form-check-input position-static">
                        <span class="text">Seitenwagen</span>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">

                <div class="col-12">
                    <div class="überschrift margin p-1 middle">
                        <span>Fahrrad Standort</span>
                    </div>
                </div>

            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Stadt*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>PLZ*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Straße*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Hausnummer*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

            <div class="row no-gutters">

                <div class="col-12">
                    <div class="überschrift margin p-1 middle">
                        <span>Bilder</span>
                    </div>
                </div>

            </div>

            <div class="row no-gutters">

                <div class="col-12">
                    <div class="white margin">
                        <div class="padding middle">
                            <span>
                                <span>Bild1.png</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="white margin">
                        <div class="padding middle">
                            <span>
                                <span>Bildtoll2.jpg</span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Bild</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <button type="submit" class="btn btn-secondary btn-block height">Browse...</button>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <button type="submit" class="btn btn-secondary btn-block height">Hinzufügen</button>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

            <div class="row no-gutters">

                <div class="col-12">
                    <div class="überschrift margin p-1 middle">
                        <span>Preis</span>
                    </div>
                </div>

            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height" placeholder="Preis">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <button type="submit" class="btn btn-secondary btn-block height">Inserieren</button>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>
        </form>

