<!doctype html>
<html>
<head>
    <title>Rent-A-Bike</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">



</head>
<body>
    <header>
        <% include partials/header %>
    </header>

    <div id="main">

            <%- body -%>
   </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/scripts/starRating.js"></script>
    <script src="/scripts/datalistloader.js"></script>
    <script src="/scripts/fileuploader.js"></script>
    <script src="/js/zabuto_calendar.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCkMWSqlk6gTahbTNfaPaTqBsiGWtT_PRg"></script>
    <%-scripts%>

    <% include partials/footer %>
</body>
</html>
