<% stylesheet('/startseite/style.css') -%>
<% layout(layoutPath + 'layout') -%>
<div class="test"><h3>Ich bin die startseite</h3></div>
<div>
	<%- include ../../views/partials/tab_container %>
</div>

<div class="starRating" starMax="7" mode="clickable" size="50" fillColor="#F3E2A9" emptyColor="#BDBDBD" hoverColor="#F79F81"></div>
<div class="starRating" starMax="5" mode="clickable" size="30"></div>
<div class="starRating" starMax="6" value="4" mode="show"></div>