<% layout(layoutPath + 'layout') -%>
<div class="row no-gutters">
    <div class="col-12">
        <div class="white margin padding middle">
            <h1 class="display-4">Bearbeiten (<%= model %>)</h1>
        </div>
    </div>
</div>

<% include ../../views/partials/2ColumnsForm %>
