    <% layout(layoutPath + 'layout') -%>


    <form method="post" action="/bike/new">

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">FAHHRAD INFORMATIONEN</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>
			<div class="row">
            <span class="col-md-1 margin padding height text">&nbsp;&nbsp;&nbsp;Name</span>
            <input name="name" type="text" class="col-md-5 form-control height w-25">
        	</div>
            <div class="row no-gutters">
            
                <div class="col-12 col-sm-8">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="margin height">
                                <select name="type" class="form-control height">
                            		<option value="Mountainbike">Mountainbike</option>
                            		<option value="Elektrofahrrad">Elektrofahrrad</option>
                            		<option value="Damenrad">Damenrad</option>
                            		<option value="Herrenrad">Herrenrad</option>
                        		</select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="margin height">
                                <select name="size" class="form-control height">
                            		<option value="12">12</option>
                            		<option value="14">14</option>
                            		<option value="16">16</option>
                            		<option value="18">18</option>
                           		 	<option value="20">20</option>
                            		<option value="24">24</option>
                            		<option value="28">28</option>
                        		</select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="margin middle">
                                <textarea class="form-control" style="resize: none;" name="description" placeholder="Beschreibung zum Bike" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="col-12 col-sm-12">
                    <div class="margin padding">
                        &emsp;
                        <input type="checkbox" name="porter" class="form-check-input position-static">
                        <span class="text">Gepäckträger</span><br />
                        &emsp;
                        <input type="checkbox" name="childseat" class="form-check-input position-static">
                        <span class="text">Kindersitz</span>
                    </div>
                </div>
                            
                            KALENDER

                            
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-sm-8">
                    <div class="d-flex flex-row">
                        <span class="margin padding height text">Rabatt nach 3 Tagen</span>
                        <input name="threedays" type="text" class="form-control height w-25" width="20">
                        <span class="margin padding height text">%</span>
                    </div>
                    <div class="d-flex flex-row">
                        <span class="margin padding height text">Rabatt nach 7 Tagen</span>
                        <input name="sevendays" type="text" class="form-control height w-25" width="20">
                        <span class="margin padding height text">%</span>
                    </div>
                </div>
                
            </div>

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">FAHRRAD STANDORT</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Stadt*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="city" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>PLZ*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="zip" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Straße*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="street" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Hausnummer*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="housenumber" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>
            
            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Land*</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input name="country" type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">BILDER</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>

            <div class="row no-gutters">

                <div class="col-12">
                    <div class="white margin">
                        <div class="padding middle">
                            <span>
                                <span>Bild1.png</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="white margin">
                        <div class="padding middle">
                            <span>
                                <span>Bildtoll2.jpg</span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-12 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Bild</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <button type="submit" class="btn btn-secondary btn-block height">Browse...</button>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <button type="submit" class="btn btn-secondary btn-block height">Hinzufügen</button>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-2"></div>
            </div>

        <div class="row">
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
            <div class="col-2 col-md"><p class="text-center">PREIS</p></div>
            <div class="col-5 col-md"><hr style="width: 100%; color: black; height: 1px; background-color:black;" /></div>
        </div>


            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-5 col-md-2 col-lg-1">
                    <div class="margin height">
                        <input name="price" type="number" step="0.01" class="form-control height">
                    </div>
                </div>
                <div class="margin height col-1 col-md-1 col-lg-1">
                    &euro;
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="">
                        <button type="submit" class="btn btn-secondary btn-block height">Inserieren</button>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>
        </form>

