<% layout(layoutPath + 'layout') -%>
<div id="main">

        <div class="row no-gutters">
            <div class="col-12">
                <div class="white margin padding middle">
                    <h1 class="display-4">Passwort zurücksetzen</h1>
                </div>
            </div>
        </div>

        <form>
            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>E-Mail</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height">
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-6 col-md-3 col-lg-2"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <button type="submit" class="btn btn-secondary btn-block height">Zurücksetzen</button>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>
        </form>

    </div>
