<% var debug = true; var number = 1; %>
<% layout(layoutPath) -%>
<h3>Ich bin ein Fahrrad, und zwar ein <%- bezeichnung %>.</h3>
<% if(debug) { %> <h6>debug</h6> <% } %>
<h4> <%= helper.sayHi("Biker") %>