  <% layout(layoutPath + 'layout') -%>

  <div id="main">

        <div class="row no-gutters">
            <div class="col-12">
                <div class="white margin padding middle">
                    <h1 class="display-4">Anmelden</h1>
                </div>
            </div>
        </div>

         <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <form action="/login" method="post">
            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>E-Mail</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="text" class="form-control height" name="email">
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <span>Passwort</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <input type="password" class="form-control height" name="pw">
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 col-md-3 col-lg-4"></div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height text">
                        <a href="/reset">Passwort vergessen?</a>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="margin height">
                        <button type="submit" class="btn btn-secondary btn-block height">Anmelden</button>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-4"></div>
            </div>
        </form>

    </div>
