<div class="row">
    <div class="col-md-6">
        <img src="/images/placeholder-square.jpg" width="50" height="50" alt="logo">
    </div> 
    <div class="col-md-6"></div>
        <ul class="navbar-container">
            <li class="navbar-element">
                <a class="navbar-element-text" href="/">Startseite</a>
            </li>
            <li class="navbar-element">
                <a class="navbar-element-text" href="/login">Anmelden</a>
            </li>
            <li class="navbar-element">
                <a class="navbar-element-text" href="/register">Registrieren</a>
            </li>
        </ul>
    </div>
</div>
